.jumbotron {
  text-align: center;
  background: black;
  font-size: 24px;
  font-family:'Audiowide', sans-serif;
  color: darkgreen;
}
body {
  background: lightgreen;
}
.alignment {
  text-align: center;
  border: 1px solid blue;
}
input {
  text-align: center;
  display: block;
  color: white;
  font-family: 'Monoton', sans-serif;
  border-radius: 5px;
  background: black;
}
h1 {
  color: darkgreen;
  font-family: 'Monoton', sans-serif;
}
.labelstyle {
  font-family: 'Audiowide', sans-serif;
}
.footer {
  background: black;
  color: darkgreen;
  text-align: center;
  font-family: 'Audiowide', sans-serif;
  padding: 20px;
}
#pigdicefooter {
  padding: 10px;
}
.resetgame h2 {
font-family: 'Monoton', sans-serif;  
}
